body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #e3f2fd, #ffffff);
    margin: 0;
}

/* Header */
.header {
    background-color: #0d47a1;
    color: white;
    padding: 18px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

/* Card box */
.container {
    width: 380px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
    text-align: center;
}

/* Inputs */
input, select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Buttons */
button {
    background-color: #1565c0;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0d47a1;
}

/* Table */
table {
    border-collapse: collapse;
    margin: auto;
}

th {
    background-color: #1565c0;
    color: white;
}

th, td {
    padding: 12px 18px;
    border: 1px solid #ccc;
}

/* Attendance table */

.table-container {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

.table-container h1 {
    color: #2c5364;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background: #2c5364;
    color: white;
}

.present {
    color: green;
    font-weight: bold;
}

.absent {
    color: red;
    font-weight: bold;
}

.alert{
    background:#ffe5e5;
    color:#b30000;
    padding:15px;
    border-radius:8px;
    margin-bottom:20px;
    font-weight:bold;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #dfe9f3, #ffffff);
}

.container {
    width: 85%;
    margin: auto;
    text-align: center;
    padding: 30px;
}

.title {
    font-size: 40px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}

.attendance-table th {
    background: #2c3e50;
    color: white;
    padding: 12px;
}

.attendance-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.present {
    color: green;
    font-weight: bold;
}

.absent {
    color: red;
    font-weight: bold;
}

.primary-btn {
    margin-top: 25px;
    padding: 12px 25px;
    background: #2e86de;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.primary-btn:hover {
    background: #1b4f72;
}

.warning-box {
    background: #ffe5e5;
    color: #b30000;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-weight: bold;
}
